@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

.header {

}

.footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 8%;
	background-color: #2F4056;
}

.contenter {
 	background-image:url(../lib/backimg1.png);
	background-repeat: no-repeat;
	background-position:center; 
	background-size:auto 100%;
	background-attachment:fixed;
	position: absolute;
	top: 8%;
	height: 84%;
	width: 100%;
	text-align: center;	
}

.signBtn {
	position: absolute;
	width: 15%;
	height: 50%;
	top: 20%;
	right: 30%;
}

.allArtilceTableDiv {
	position: absolute;
	width: 40%;
	left: 30%;
	right: 30%;
	top: 10%;
	border-collapse: collapse;
	font-size: 20px;
	padding:0.5%;
	background-color: white;
}

#allArticleTable {
/* 	position: absolute;
	width: 30%;
	left: 33.5%;
	top: 5%;
	border-collapse: collapse;
	font-size: 20px; */
}

#allArticleTable, th, td {
/* 	border: 1px solid grey; */
}

a {
	text-decoration:none;
}

.my-btn-primary{border:1px solid rgba(244, 68, 68, 0.901961);background-color:#fff;color:rgba(244, 68, 68, 0.901961);}
.my-btn-primary:hover{border-color:rgba(244, 68, 68, 0.901961);color:rgba(244, 68, 68, 0.901961);background-color: rgba(244, 68, 68, 0.15);}
.forget{
	margin-left: 290px!important;
}
.forget:hover{color:rgba(244, 68, 68, 0.901961)!important;}

#nowRegist{color:#01AAED}
#nowRegist:hover{color:#2F4056}
#logo{
	cursor:pointer;
}
/* background-color: rgba(244, 68, 68, 0.901961); */

/* img{
	height:100%;
	width:auto;
}
 */